.history/
.idea/
abi/
node_modules/
cache/
build/
typechain/
artifacts/
coverage*
.env
.verifier*
.DS_Store
/security/Peckshield.sol
/security/ClickerAttackSolution.sol
/security/TickerBombAttackSolution.sol
/.env.local
/types/
out/
forge-out/
.mainnet.test.cache
*.log
.eslintcache
.eslint.local.json